
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #501b6f;
    font-size: 4rem;
    margin:auto;
    width:fit-content;
    font-variant-caps: petite-caps;
    letter-spacing: 2px;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
    width: fit-content;
}

li {
    margin-left: 20px;
    list-style: circle;
    font-size: 1.5rem;
}

form div {
    display: block;
}

form label {
    font-weight: bold;
}

form button {
    margin: 10px;
    width: 140px;
    background-color: #501b6f;
    border: solid white 1px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    height: 60px;
}

form button > div {
    height: 25px;
}

form input {
    border: solid grey 1px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
}

.closeBtn {
    float: right;
}

.inputInvalid {
    color: red;
    font-size: small;
    font-weight: normal;
}

.spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
}

.main-home {
    background: #1c9446 url('../../public/main_0.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100vw;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    overflow: hidden;
}

.startup {
    padding: 20px;
}

.user-info {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeeec1;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: fit-content;
}

.user-info > p {
    display: inline-block;
    width: fit-content;
    padding: 2px;
    color: rgb(75, 75, 75);
    font-weight: bold;
}

.user-info > p:nth-child(2) {
    background-color: #f07916;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.labelled-button {
    display: block;
    width: fit-content;
    margin: 10px auto 10px auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 0.536);
}

.labelled-button:disabled {
    border-color: rgb(100, 100, 100);
}

.bin {
    width: 20vh;
    height: 20vh;
}

.bin > img {
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: auto;
    padding-top: 10vh;
    max-width: 650px;
    height: 100vh;
    position: relative;
    align-items: center;
    overflow: scroll;
}

.draggableItem {
    position: absolute;
    left:10%;
    top:40%;

    width: 10vh;
    height: 10vh;

    touch-action: none;
    cursor: grab;
}

.draggableItem > img {
    width: 100%;
    height: 100%;

    pointer-events: none;
}

.draggableItem > div {
    width: calc(min-content);
    margin-top: 5px;
    background-color: #eeeeeec1;
    border-radius: 10px;
}

.mistake-desc {
    width:80%;
    height: 80%;
    padding: 5%;
    margin: auto;
    background-color: blanchedalmond;
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
}

.mistake-desc h2 {
    font-size: 2rem;
}

.mistake-desc h4 {
    font-size: 1.5rem;
}

.mistake-desc img {
    margin: auto;
    width:10vh;
    height:10vh;
}

.mistake-desc button {
    display: block;
    margin: 0 0 0 auto;
    font-size: 2rem;
    color: green;
}

.button-group {
    display: block;
    width: fit-content;
    margin: auto;
}

.button-group > button {
    display: inline-block !important;
    margin-left: 15px;
}

.button-group > button:first-child {
    margin-left: 0;
}

.check-icon {
    position: absolute;
    z-index: 100;
    transform: translate(-45%, -100%);
}

.cross-icon {
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
}

table {
    margin-left: 30px;
}

th {
    font-weight: normal;
    padding-right: 30px;
}

@media screen and (max-height: 750px) {
    li {
        font-size: 1.25em;
    }
}
